
@{
    ViewBag.Title = "Backoffice";

}

<div class="container">
    
    <div class="row">
        <div class="col">
            <div class="row g-4 justify-content-between">

                <div class="col-3 slide-in-right cardHover" style="background-image: url(/Images/Azienda2.jpg); background-size: cover; background-repeat: no-repeat;">
                    <div class="p-4 d-flex flex-column" style="height: 600px;">
                        <h2 class="display-6">Prodotti</h2>
                        @Html.ActionLink("Gestione Prodotti", "Index", "Prodotto", new { area = "" }, new { @class = "btn btn-dark mt-auto" })

                    </div>
                </div>

                <div class="col-3 slide-in-right-1 cardHover" style="background-image: url(/Images/privato.jpg); background-size: cover; background-repeat: no-repeat;">
                    <div class="p-4 d-flex flex-column" style="height: 600px;">
                        <h2 class="display-6">Ordini</h2>
                        @Html.ActionLink("Gestisce Ordini", "Index", "Ordine", new { area = "" }, new { @class = "btn btn-dark mt-auto" })
                    </div>
                </div>

                <div class="col-3 cardHover  slide-in-right-2" style="background-image: url(/Images/spedizione.jpg); background-size: cover; background-repeat: no-repeat;">
                    <div class="p-4 d-flex flex-column" style="height: 600px;">
                        <h2 class="display-6">Statistiche</h2>
                        @Html.ActionLink("Vai alle Statistiche", "Statistics", "Statistiche", new { area = "" }, new { @class = "btn btn-dark mt-auto" })
                        
                    </div>
                </div>

            </div>
        </div>
    </div>

   
</div>



