@{
    ViewBag.Title = "Home Page";
    var feedBack = Session["Messaggio"];
    bool inserimento = (bool)TempData["Inserimento"];
}

<main>
    <div class="container">
        <div id="alert" class="alert alert-success @((inserimento == true ? "d-block" : "d-none" )) " role="alert">
            @feedBack
        </div>

    </div>
</main>




<script>
    // Verifica se c'è un feedback da mostrare e mostra l'alert se presente
    var alertDiv = document.getElementById('alert');
    if (alertDiv.classList.contains('d-block')) {
        setTimeout(function () {
            alertDiv.classList.remove('d-none');
            alertDiv.classList.add('d-none'); // Rimuovi la classe per nascondere l'alert dopo 4 secondi
        }, 4000);
    }
</script>